<% if @user.errors.any? %>
<div class>
	<div class= "alert alert-danger">
		The form contains <%= @user.errors.count %>
		errors(s)
	
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li> <%= msg %></li>
	<% end %>
	</ul>
</div>
</div>
<% end %>